doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='../style/style.css')
        title p&agrave;gina quiz
        // Category selector
    body
        if message[0]
            #status-messages-container
            script(src='../js/popup.js')
            script. 
                let message = !{JSON.stringify(message)};
                addStatusMessage(message[0], message[1]);
        main#main
            #header-wrapper
                h1 Hi, #{username}
                form(action='/home' method='get')
                    input(type='submit' class='logout-button' value="Home")
                form(action='/logout' method='get')
                    input(type='submit' class='logout-button' value="logout")
            #title-wrapper
                span#title #{code} - #{subject}
            #category-wrapper
                each test in tests
                    form(action='/quiz/'+test.test_id method='post')
                        input(type='submit' class='category-button' name="selected" value=test.test_name)
            
        // footer
        footer
            p p&agrave;gina &copy; 2022
